:root {
  --primary-color: #8200BB;
  --primary-darken-color: #5A2372;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts-list, .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html, body, .wrapper {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

img {
  max-width: 100%;
}

/* Geologica Roman */
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url("../fonts/Geologica/Geologica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --base-font-family: "Geologica Roman", sans-serif;
  --base-font-size: 1.25vw;
  --base-font-weight: 400;
  --base-font-height: 150%;
  --base-font-color: #3D3D3D;
  /* Mobile */
  --base-tablet-font-size: calc(16px + 10.474 * (100vw - 376px) / 991);
  /* Mobile */
  --base-mobile-font-size: 16px;
  --heading-font-color: #232323;
  --heading-font-height: normal;
}

html, body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: var(--base-font-weight);
  line-height: var(--base-font-height);
  color: var(--base-font-color);
}

@media (max-width: 991px) {
  html, body {
    font-size: var(--base-tablet-font-size);
  }
}
@media (max-width: 375px) {
  html, body {
    font-size: var(--base-mobile-font-size);
  }
}
.container {
  width: 80.56%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    width: 95.96%;
  }
}
@media (max-width: 375px) {
  .container {
    width: 88%;
  }
}
.header__container, .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.header__container {
  padding-top: 1.67rem;
  padding-bottom: 1.67rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contacts {
  gap: 0.28rem;
}
@media (min-width: 992px) {
  .header__contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 992px) {
  .header__mobile-contacts-list, .header__burger-btn {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    position: relative;
  }
  .header__logo, .header__mobile-contacts-list, .header__burger-btn {
    position: relative;
    z-index: 3;
  }
  .header__container {
    gap: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header__inner {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 1.22rem 2.02rem 2.22rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.67rem;
    background: #fff;
    border-radius: 0rem 0rem 1.11111rem 1.11111rem;
    -webkit-box-shadow: 0 1.5rem 1rem 0 rgba(47, 4, 65, 0.3);
            box-shadow: 0 1.5rem 1rem 0 rgba(47, 4, 65, 0.3);
    overflow-y: hidden;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__nav {
    padding-bottom: 1.67rem;
    border-bottom: 0.05556rem solid #DBDBDB;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .header:not(.header--burger-active) .header__inner {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  .header:not(.header--burger-active) .header__nav {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  .header__mobile-contacts-list {
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .header__container {
    padding-top: 0.83rem;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.22rem;
}
.nav__item {
  font-size: 0.77778rem;
  font-weight: 300;
  line-height: 140%;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
.nav__item:hover {
  color: var(--primary-color);
}
.nav__item:active {
  color: var(--primary-darken-color);
}
.nav__item--current {
  color: var(--primary-color);
  text-shadow: 0 0 0.05rem var(--primary-color);
  pointer-events: none;
}

@media (max-width: 991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.83rem;
  }
  .nav__item {
    font-size: 0.88889rem;
  }
}
.contacts-list--phone .contacts-list__item, .contacts-list--mail .contacts-list__item, .contacts-list--address .contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.39rem;
}
.contacts-list--phone .contacts-list__item::before, .contacts-list--mail .contacts-list__item::before, .contacts-list--address .contacts-list__item::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.11111rem;
  height: 1.11111rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-list__item {
  color: var(--primary-darken-color);
  font-weight: 500;
  line-height: 140%;
  white-space: nowrap;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.contacts-list__item:hover {
  color: var(--primary-color);
}
.contacts-list--phone .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_611)'%3E%3Cpath d='M19.3008 17.0134C19.1756 17.5746 18.8652 18.0774 18.4196 18.4409C17.9327 18.9347 17.3526 19.3268 16.7129 19.5945C16.0732 19.8621 15.3867 20 14.6932 20H14.3692C12.9138 19.921 11.4887 19.5526 10.1773 18.9164H10.1674C9.86331 18.7749 9.54929 18.6333 9.24524 18.4608C7.71443 17.6025 6.31034 16.5356 5.07326 15.2907C3.46783 13.7828 2.15039 11.9951 1.1854 10.0152C0.672553 8.93015 0.330246 7.77242 0.170572 6.58293C-0.0642336 5.33782 0.0770114 4.051 0.576305 2.88647C0.891515 2.36109 1.2765 1.88087 1.72073 1.45893C1.92062 1.23288 2.16501 1.05052 2.4386 0.923242C2.71219 0.795965 3.00911 0.726516 3.31077 0.719238C3.63884 0.755494 3.95645 0.85656 4.24515 1.01657C4.53385 1.17658 4.78789 1.39234 4.99252 1.65133C5.44809 2.14678 6.00436 2.66317 6.46093 3.13968L7.08897 3.75775C7.45782 4.08473 7.68611 4.5413 7.72698 5.03377C7.72698 5.48536 7.5605 5.921 7.26043 6.25894C7.06611 6.49529 6.85981 6.72155 6.64236 6.93682L6.44 7.14916C6.32236 7.25882 6.23264 7.3944 6.17682 7.54493C6.12697 7.69313 6.10704 7.84499 6.117 8.0005C6.2775 8.43016 6.52972 8.82094 6.8547 9.14493C7.36212 9.83278 7.86854 10.4309 8.38492 11.0789C9.31896 12.1632 10.4274 13.084 11.6647 13.8034C11.7913 13.8961 11.9368 13.9579 12.0914 13.9848C12.2249 13.9948 12.3605 13.9748 12.4861 13.925C12.84 13.7167 13.154 13.4495 13.4172 13.1345C13.7711 12.7011 14.2792 12.4216 14.8348 12.3549C15.3694 12.3623 15.8794 12.5809 16.2534 12.963C16.4557 13.1345 16.678 13.3677 16.8914 13.591L17.1944 13.9041L17.5084 14.2081L18.0458 14.7544C18.3661 15.0389 18.6665 15.3429 18.9469 15.6666C19.2281 16.0554 19.3547 16.5368 19.3008 17.0134ZM15.6662 10.076C15.4654 10.0739 15.2734 9.99325 15.1313 9.85124C14.9893 9.70923 14.9086 9.51722 14.9066 9.3164C14.9076 8.74296 14.7954 8.17496 14.5765 7.64498C14.3575 7.11499 14.0361 6.63345 13.6306 6.22797C13.2251 5.82249 12.7436 5.50106 12.2136 5.2821C11.6836 5.06314 11.1156 4.95097 10.5422 4.95202C10.3407 4.95202 10.1475 4.87199 10.005 4.72953C9.86259 4.58707 9.78256 4.39386 9.78256 4.19239C9.78256 3.99093 9.86259 3.79771 10.005 3.65526C10.1475 3.5128 10.3407 3.43277 10.5422 3.43277C11.3152 3.43158 12.0808 3.58296 12.7952 3.87822C13.5095 4.17349 14.1586 4.60683 14.7052 5.15341C15.2518 5.69999 15.6851 6.34906 15.9804 7.06343C16.2756 7.7778 16.427 8.54341 16.4258 9.3164C16.4261 9.41623 16.4066 9.51512 16.3685 9.6074C16.3304 9.69968 16.2745 9.78353 16.2039 9.85412C16.1333 9.92471 16.0495 9.98065 15.9572 10.0187C15.8649 10.0568 15.766 10.0763 15.6662 10.076Z' fill='%238200BB'/%3E%3Cpath d='M19.18 9.72115C18.9794 9.71908 18.7875 9.63851 18.6455 9.49672C18.5035 9.35492 18.4227 9.16316 18.4204 8.96251C18.4219 7.98547 18.2308 7.0177 17.858 6.11459C17.4852 5.21147 16.9379 4.39074 16.2475 3.69936C15.5572 3.00797 14.7372 2.4595 13.8347 2.08533C12.9321 1.71115 11.9646 1.51863 10.9876 1.51876C10.8856 1.52246 10.7839 1.50556 10.6885 1.46907C10.5932 1.43259 10.5062 1.37726 10.4327 1.30641C10.3593 1.23555 10.3008 1.15061 10.2609 1.05667C10.221 0.962725 10.2004 0.8617 10.2004 0.759628C10.2004 0.657556 10.221 0.556531 10.2609 0.462587C10.3008 0.368642 10.3593 0.283706 10.4327 0.212849C10.5062 0.141992 10.5932 0.0866697 10.6885 0.0501849C10.7839 0.0137 10.8856 -0.0031986 10.9876 0.000498469C12.164 0.000497739 13.3289 0.232379 14.4157 0.682885C15.5024 1.13339 16.4898 1.79369 17.3212 2.62602C18.1526 3.45835 18.8118 4.44639 19.2611 5.53365C19.7104 6.62092 19.9409 7.78608 19.9396 8.96251C19.9399 9.06234 19.9204 9.16124 19.8823 9.25352C19.8443 9.3458 19.7883 9.42965 19.7177 9.50024C19.6471 9.57083 19.5633 9.62677 19.471 9.66486C19.3787 9.70294 19.2798 9.72141 19.18 9.72115Z' fill='%238200BB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_611'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.contacts-list--mail .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.172 11.834L10.002 13.769L12.73 11.887L18.845 17.92C18.6837 17.9727 18.513 17.9993 18.333 18H1.667C1.447 18 1.237 17.957 1.044 17.88L7.172 11.834ZM20 6.876V16.333C20 16.58 19.946 16.814 19.85 17.025L13.856 11.111L20 6.876ZM0 6.929L6.042 11.061L0.106 16.919C0.0364628 16.7314 0.000578992 16.533 0 16.333L0 6.929ZM18.333 3C19.253 3 20 3.746 20 4.667V5.253L9.998 12.148L0 5.31V4.667C0 3.747 0.746 3 1.667 3H18.333Z' fill='%238200BB'/%3E%3C/svg%3E");
}
.contacts-list--address .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_862)'%3E%3Cpath d='M7.99958 0C5.88757 0.00236318 3.86274 0.830934 2.36932 2.30394C0.875899 3.77694 0.0358432 5.77408 0.0334473 7.85722C0.0334473 14.5805 7.27539 19.6582 7.58407 19.8707C7.70584 19.9549 7.85091 20 7.99958 20C8.14825 20 8.29332 19.9549 8.41509 19.8707C8.72377 19.6582 15.9657 14.5805 15.9657 7.85722C15.9633 5.77408 15.1233 3.77694 13.6298 2.30394C12.1364 0.830934 10.1116 0.00236318 7.99958 0ZM7.99958 5.00005C8.57251 5.00005 9.13257 5.16762 9.60894 5.48157C10.0853 5.79552 10.4566 6.24175 10.6759 6.76383C10.8951 7.28591 10.9525 7.86039 10.8407 8.41463C10.7289 8.96887 10.453 9.47796 10.0479 9.87755C9.64279 10.2771 9.12663 10.5492 8.56471 10.6595C8.00279 10.7697 7.42035 10.7132 6.89103 10.4969C6.36172 10.2807 5.9093 9.91444 5.591 9.44458C5.2727 8.97472 5.1028 8.42232 5.1028 7.85722C5.1028 7.09945 5.408 6.37272 5.95125 5.8369C6.4945 5.30107 7.23131 5.00005 7.99958 5.00005Z' fill='%238200BB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_862'%3E%3Crect width='16' height='20' fill='%238200BB'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.contacts-list--big .contacts-list__item {
  font-size: 1.125rem;
  font-weight: 400;
}
.contacts-list--simple .contacts-list__item {
  font-size: 0.88889rem;
  font-weight: 300;
  color: #232323;
}
.contacts-list--simple .contacts-list__item:hover {
  color: #000;
}
.contacts-list--icon {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contacts-list--icon .contacts-list__link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-list--icon .contacts-list__item--phone .contacts-list__link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_611)'%3E%3Cpath d='M19.3008 17.0134C19.1756 17.5746 18.8652 18.0774 18.4196 18.4409C17.9327 18.9347 17.3526 19.3268 16.7129 19.5945C16.0732 19.8621 15.3867 20 14.6932 20H14.3692C12.9138 19.921 11.4887 19.5526 10.1773 18.9164H10.1674C9.86331 18.7749 9.54929 18.6333 9.24524 18.4608C7.71443 17.6025 6.31034 16.5356 5.07326 15.2907C3.46783 13.7828 2.15039 11.9951 1.1854 10.0152C0.672553 8.93015 0.330246 7.77242 0.170572 6.58293C-0.0642336 5.33782 0.0770114 4.051 0.576305 2.88647C0.891515 2.36109 1.2765 1.88087 1.72073 1.45893C1.92062 1.23288 2.16501 1.05052 2.4386 0.923242C2.71219 0.795965 3.00911 0.726516 3.31077 0.719238C3.63884 0.755494 3.95645 0.85656 4.24515 1.01657C4.53385 1.17658 4.78789 1.39234 4.99252 1.65133C5.44809 2.14678 6.00436 2.66317 6.46093 3.13968L7.08897 3.75775C7.45782 4.08473 7.68611 4.5413 7.72698 5.03377C7.72698 5.48536 7.5605 5.921 7.26043 6.25894C7.06611 6.49529 6.85981 6.72155 6.64236 6.93682L6.44 7.14916C6.32236 7.25882 6.23264 7.3944 6.17682 7.54493C6.12697 7.69313 6.10704 7.84499 6.117 8.0005C6.2775 8.43016 6.52972 8.82094 6.8547 9.14493C7.36212 9.83278 7.86854 10.4309 8.38492 11.0789C9.31896 12.1632 10.4274 13.084 11.6647 13.8034C11.7913 13.8961 11.9368 13.9579 12.0914 13.9848C12.2249 13.9948 12.3605 13.9748 12.4861 13.925C12.84 13.7167 13.154 13.4495 13.4172 13.1345C13.7711 12.7011 14.2792 12.4216 14.8348 12.3549C15.3694 12.3623 15.8794 12.5809 16.2534 12.963C16.4557 13.1345 16.678 13.3677 16.8914 13.591L17.1944 13.9041L17.5084 14.2081L18.0458 14.7544C18.3661 15.0389 18.6665 15.3429 18.9469 15.6666C19.2281 16.0554 19.3547 16.5368 19.3008 17.0134ZM15.6662 10.076C15.4654 10.0739 15.2734 9.99325 15.1313 9.85124C14.9893 9.70923 14.9086 9.51722 14.9066 9.3164C14.9076 8.74296 14.7954 8.17496 14.5765 7.64498C14.3575 7.11499 14.0361 6.63345 13.6306 6.22797C13.2251 5.82249 12.7436 5.50106 12.2136 5.2821C11.6836 5.06314 11.1156 4.95097 10.5422 4.95202C10.3407 4.95202 10.1475 4.87199 10.005 4.72953C9.86259 4.58707 9.78256 4.39386 9.78256 4.19239C9.78256 3.99093 9.86259 3.79771 10.005 3.65526C10.1475 3.5128 10.3407 3.43277 10.5422 3.43277C11.3152 3.43158 12.0808 3.58296 12.7952 3.87822C13.5095 4.17349 14.1586 4.60683 14.7052 5.15341C15.2518 5.69999 15.6851 6.34906 15.9804 7.06343C16.2756 7.7778 16.427 8.54341 16.4258 9.3164C16.4261 9.41623 16.4066 9.51512 16.3685 9.6074C16.3304 9.69968 16.2745 9.78353 16.2039 9.85412C16.1333 9.92471 16.0495 9.98065 15.9572 10.0187C15.8649 10.0568 15.766 10.0763 15.6662 10.076Z' fill='%238200BB'/%3E%3Cpath d='M19.18 9.72115C18.9794 9.71908 18.7875 9.63851 18.6455 9.49672C18.5035 9.35492 18.4227 9.16316 18.4204 8.96251C18.4219 7.98547 18.2308 7.0177 17.858 6.11459C17.4852 5.21147 16.9379 4.39074 16.2475 3.69936C15.5572 3.00797 14.7372 2.4595 13.8347 2.08533C12.9321 1.71115 11.9646 1.51863 10.9876 1.51876C10.8856 1.52246 10.7839 1.50556 10.6885 1.46907C10.5932 1.43259 10.5062 1.37726 10.4327 1.30641C10.3593 1.23555 10.3008 1.15061 10.2609 1.05667C10.221 0.962725 10.2004 0.8617 10.2004 0.759628C10.2004 0.657556 10.221 0.556531 10.2609 0.462587C10.3008 0.368642 10.3593 0.283706 10.4327 0.212849C10.5062 0.141992 10.5932 0.0866697 10.6885 0.0501849C10.7839 0.0137 10.8856 -0.0031986 10.9876 0.000498469C12.164 0.000497739 13.3289 0.232379 14.4157 0.682885C15.5024 1.13339 16.4898 1.79369 17.3212 2.62602C18.1526 3.45835 18.8118 4.44639 19.2611 5.53365C19.7104 6.62092 19.9409 7.78608 19.9396 8.96251C19.9399 9.06234 19.9204 9.16124 19.8823 9.25352C19.8443 9.3458 19.7883 9.42965 19.7177 9.50024C19.6471 9.57083 19.5633 9.62677 19.471 9.66486C19.3787 9.70294 19.2798 9.72141 19.18 9.72115Z' fill='%238200BB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_611'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.contacts-list--white .contacts-list__item {
  color: #fff;
}
.contacts-list--white.contacts-list--phone .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_611)'%3E%3Cpath d='M19.3008 17.0134C19.1756 17.5746 18.8652 18.0774 18.4196 18.4409C17.9327 18.9347 17.3526 19.3268 16.7129 19.5945C16.0732 19.8621 15.3867 20 14.6932 20H14.3692C12.9138 19.921 11.4887 19.5526 10.1773 18.9164H10.1674C9.86331 18.7749 9.54929 18.6333 9.24524 18.4608C7.71443 17.6025 6.31034 16.5356 5.07326 15.2907C3.46783 13.7828 2.15039 11.9951 1.1854 10.0152C0.672553 8.93015 0.330246 7.77242 0.170572 6.58293C-0.0642336 5.33782 0.0770114 4.051 0.576305 2.88647C0.891515 2.36109 1.2765 1.88087 1.72073 1.45893C1.92062 1.23288 2.16501 1.05052 2.4386 0.923242C2.71219 0.795965 3.00911 0.726516 3.31077 0.719238C3.63884 0.755494 3.95645 0.85656 4.24515 1.01657C4.53385 1.17658 4.78789 1.39234 4.99252 1.65133C5.44809 2.14678 6.00436 2.66317 6.46093 3.13968L7.08897 3.75775C7.45782 4.08473 7.68611 4.5413 7.72698 5.03377C7.72698 5.48536 7.5605 5.921 7.26043 6.25894C7.06611 6.49529 6.85981 6.72155 6.64236 6.93682L6.44 7.14916C6.32236 7.25882 6.23264 7.3944 6.17682 7.54493C6.12697 7.69313 6.10704 7.84499 6.117 8.0005C6.2775 8.43016 6.52972 8.82094 6.8547 9.14493C7.36212 9.83278 7.86854 10.4309 8.38492 11.0789C9.31896 12.1632 10.4274 13.084 11.6647 13.8034C11.7913 13.8961 11.9368 13.9579 12.0914 13.9848C12.2249 13.9948 12.3605 13.9748 12.4861 13.925C12.84 13.7167 13.154 13.4495 13.4172 13.1345C13.7711 12.7011 14.2792 12.4216 14.8348 12.3549C15.3694 12.3623 15.8794 12.5809 16.2534 12.963C16.4557 13.1345 16.678 13.3677 16.8914 13.591L17.1944 13.9041L17.5084 14.2081L18.0458 14.7544C18.3661 15.0389 18.6665 15.3429 18.9469 15.6666C19.2281 16.0554 19.3547 16.5368 19.3008 17.0134ZM15.6662 10.076C15.4654 10.0739 15.2734 9.99325 15.1313 9.85124C14.9893 9.70923 14.9086 9.51722 14.9066 9.3164C14.9076 8.74296 14.7954 8.17496 14.5765 7.64498C14.3575 7.11499 14.0361 6.63345 13.6306 6.22797C13.2251 5.82249 12.7436 5.50106 12.2136 5.2821C11.6836 5.06314 11.1156 4.95097 10.5422 4.95202C10.3407 4.95202 10.1475 4.87199 10.005 4.72953C9.86259 4.58707 9.78256 4.39386 9.78256 4.19239C9.78256 3.99093 9.86259 3.79771 10.005 3.65526C10.1475 3.5128 10.3407 3.43277 10.5422 3.43277C11.3152 3.43158 12.0808 3.58296 12.7952 3.87822C13.5095 4.17349 14.1586 4.60683 14.7052 5.15341C15.2518 5.69999 15.6851 6.34906 15.9804 7.06343C16.2756 7.7778 16.427 8.54341 16.4258 9.3164C16.4261 9.41623 16.4066 9.51512 16.3685 9.6074C16.3304 9.69968 16.2745 9.78353 16.2039 9.85412C16.1333 9.92471 16.0495 9.98065 15.9572 10.0187C15.8649 10.0568 15.766 10.0763 15.6662 10.076Z' fill='white'/%3E%3Cpath d='M19.18 9.72115C18.9794 9.71908 18.7875 9.63851 18.6455 9.49672C18.5035 9.35492 18.4227 9.16316 18.4204 8.96251C18.4219 7.98547 18.2308 7.0177 17.858 6.11459C17.4852 5.21147 16.9379 4.39074 16.2475 3.69936C15.5572 3.00797 14.7372 2.4595 13.8347 2.08533C12.9321 1.71115 11.9646 1.51863 10.9876 1.51876C10.8856 1.52246 10.7839 1.50556 10.6885 1.46907C10.5932 1.43259 10.5062 1.37726 10.4327 1.30641C10.3593 1.23555 10.3008 1.15061 10.2609 1.05667C10.221 0.962725 10.2004 0.8617 10.2004 0.759628C10.2004 0.657556 10.221 0.556531 10.2609 0.462587C10.3008 0.368642 10.3593 0.283706 10.4327 0.212849C10.5062 0.141992 10.5932 0.0866697 10.6885 0.0501849C10.7839 0.0137 10.8856 -0.0031986 10.9876 0.000498469C12.164 0.000497739 13.3289 0.232379 14.4157 0.682885C15.5024 1.13339 16.4898 1.79369 17.3212 2.62602C18.1526 3.45835 18.8118 4.44639 19.2611 5.53365C19.7104 6.62092 19.9409 7.78608 19.9396 8.96251C19.9399 9.06234 19.9204 9.16124 19.8823 9.25352C19.8443 9.3458 19.7883 9.42965 19.7177 9.50024C19.6471 9.57083 19.5633 9.62677 19.471 9.66486C19.3787 9.70294 19.2798 9.72141 19.18 9.72115Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_611'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.contacts-list--white.contacts-list--mail .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.172 11.834L10.002 13.769L12.73 11.887L18.845 17.92C18.6837 17.9727 18.513 17.9993 18.333 18H1.667C1.447 18 1.237 17.957 1.044 17.88L7.172 11.834ZM20 6.876V16.333C20 16.58 19.946 16.814 19.85 17.025L13.856 11.111L20 6.876ZM0 6.929L6.042 11.061L0.106 16.919C0.0364628 16.7314 0.000578992 16.533 0 16.333L0 6.929ZM18.333 3C19.253 3 20 3.746 20 4.667V5.253L9.998 12.148L0 5.31V4.667C0 3.747 0.746 3 1.667 3H18.333Z' fill='white'/%3E%3C/svg%3E");
}
.contacts-list--white.contacts-list--address .contacts-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_862)'%3E%3Cpath d='M7.99958 0C5.88757 0.00236318 3.86274 0.830934 2.36932 2.30394C0.875899 3.77694 0.0358432 5.77408 0.0334473 7.85722C0.0334473 14.5805 7.27539 19.6582 7.58407 19.8707C7.70584 19.9549 7.85091 20 7.99958 20C8.14825 20 8.29332 19.9549 8.41509 19.8707C8.72377 19.6582 15.9657 14.5805 15.9657 7.85722C15.9633 5.77408 15.1233 3.77694 13.6298 2.30394C12.1364 0.830934 10.1116 0.00236318 7.99958 0ZM7.99958 5.00005C8.57251 5.00005 9.13257 5.16762 9.60894 5.48157C10.0853 5.79552 10.4566 6.24175 10.6759 6.76383C10.8951 7.28591 10.9525 7.86039 10.8407 8.41463C10.7289 8.96887 10.453 9.47796 10.0479 9.87755C9.64279 10.2771 9.12663 10.5492 8.56471 10.6595C8.00279 10.7697 7.42035 10.7132 6.89103 10.4969C6.36172 10.2807 5.9093 9.91444 5.591 9.44458C5.2727 8.97472 5.1028 8.42232 5.1028 7.85722C5.1028 7.09945 5.408 6.37272 5.95125 5.8369C6.4945 5.30107 7.23131 5.00005 7.99958 5.00005Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_862'%3E%3Crect width='16' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

@media (max-width: 375px) {
  .contacts-list--big .contacts-list__item {
    font-size: 1rem;
  }
}
.logo {
  display: block;
  width: 8.88889rem;
  height: 3.27778rem;
}
.burger-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.burger-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}
.burger-btn--active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.burger-btn--active svg:nth-child(1) {
  opacity: 0;
  visibility: hidden;
}
.burger-btn:not(.burger-btn--active) svg:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}