.logo {
  display: block;
  width: 8.88889rem;
  height: 3.27778rem;
  img {
    @extend %fill-image;
  }

  &--big {
    width: 11.1111rem;
    height: 4.1111rem;
  }
}

@media (max-width: 991px) {
  
}

@media (max-width: 480px) {
  .logo {
    &--big {
      width: 7.7778rem;
      height: 2.8889rem;
    }
  }
}