.tariffs {
  &:not(.swiper) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.56rem;
  }
  &__item {
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 1.94444rem 1.83333rem;
      background: #F6F6F6;
      border-radius: 1.11111rem;
      border: 0.05556rem solid #F6F6F6;
      text-align: center;
      transition: 0.7s all;
    }
    &-title {
      font-size: 1.11111rem;
      font-weight: 500;
      line-height: 150%;
      transition: inherit;
    }
    &-period {
      font-size: 0.88889rem;
      font-weight: 400;
      line-height: 150%;
      color: #848484;
      &:not(:first-child) {
        margin-top: 0.28rem;
      }
    }
    &-price {
      font-size: 1.55556rem;
      font-weight: 600;
      line-height: 150%;
      &:not(:first-child) {
        margin-top: 0.72rem;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 0.77778rem;
      font-weight: 300;
      line-height: 150%;
      color: #848484;
      ul {
        gap: 1rem;
        text-align: left;
        li {
          padding-left: 0.75rem;
          &::before {
            width: 0.3rem;
            height: 0.3rem;
          }
        }
      }
      &:not(:first-child) {
        margin-top: 1.67rem;
      }
      &:not(:last-child) {
        margin-bottom: 1.67rem;
      }
    }
    &-btn {
      margin-top: auto;
    }
    &:hover {
      .tariffs__item-inner {
        background: #F4EFEB;
        border-color: #EEC9FF;
      }
      .tariffs__item-title {
        color: var(--primary-color);
      }
    }
  }
  &.swiper {
    .tariffs__item {
      padding: 0 0.28rem;
      &-title {
        color: var(--primary-color);
      }
      &-btn {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .tariffs {
    &:not(.swiper) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .tariffs__item {
        max-width: 20.5rem;
        margin: 0 auto;
      }
    }
    &.swiper {
      .tariffs__item {
        padding: 0 0.555rem;
        &-btn {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  } 
}

@media (max-width: 375px) {
  .tariffs {
    &__item {
      &-inner {
        padding: 1.67rem;
        max-width: 100%;
      }
      &-title {
        font-size: 1rem;
      }
      &-period {
        font-size: 0.77778rem;
        &:not(:first-child) {
          margin-top: 0;
        }
      }
      &-price {
        font-size: 1.77778rem;
        &:not(:first-child) {
          margin-top: 0.28rem;
        }
      }
      &-btn {
        padding: 1.06rem 1.9rem;
      }
    }
    &.swiper {
      .tariffs__item-inner {
        max-width: 20.5rem;
        padding: 1.3rem;
      }
      .tariffs__item-btn {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
    }
  } 
}