// Прижать футер к низу страницы
html, body, .wrapper {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

img {
  max-width: 100%;
}

.--hidden {
  display: none !important;
  @media (max-width: 991px) {
    &-tablet {
      display: none !important;
    }
  }
  @media (max-width: 375px) {
    &-mobile {
      display: none !important;
    }
  }
}