/* Geologica Roman */
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Geologica Roman';
  src: url('../fonts/Geologica/Geologica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --base-font-family: 'Geologica Roman', sans-serif;
  --base-font-size: 1.25vw;
  --base-font-weight: 400;
  --base-font-height: 150%;
  --base-font-color: #3D3D3D;
  /* Mobile */
  --base-tablet-font-size: calc(16px + 10.474 * (100vw - 376px) / 991);
  /* Mobile */
  --base-mobile-font-size: 16px;



  --heading-font-color: #232323; 
  --heading-font-height: normal; 
}

html, body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: var(--base-font-weight);
  line-height: var(--base-font-height);
  color: var(--base-font-color);
}

@media (max-width: 991px) {
  html, body {
    font-size: var(--base-tablet-font-size);
  }
}

@media (max-width: 375px) {
  html, body {
    font-size: var(--base-mobile-font-size);
  }
}

// h1, h2, h3, h4, h5, h6 {
//   line-height: var(--heading-font-height);
//   color: var(--heading-font-color);
// }
// h1 {
//   font-size: 3.25rem;
//   font-weight: 600;
// }
// h2 {
//   font-size: 2rem;
//   font-weight: 500;
// }
// h3 {
//   font-size: 1.125rem;
//   font-weight: 400;
// }
// h4 {
//   font-size: 1rem;
//   font-weight: 400;
// }
// h5 {
//   font-size: 0.875rem;
//   font-weight: 250;
// }