// ==================
// hero-section
// ==================
.hero-section {
  &__container {
    position: relative;
    min-height: 27.77778rem;
    padding-top: 7.11rem;
    padding-bottom: 7.11rem;
    @extend %column-center;
    text-align: center;
    color: #fff;
    border-radius: 1.11111rem;
    overflow: hidden;
  }
  &__title {
    max-width: 45.33333rem;
  }
  &__subtitle {
    max-width: 18.22222rem;
    line-height: 140%;
    &:not(:first-child) {
      margin-top: 0.83rem;
    }
  }
  &__btn {
    &:not(:first-child) {
      margin-top: 1.67rem;
    }
  }
}

@media (max-width: 991px) {
  .hero-section {
    &__title, &__subtitle {
      max-width: 85%;
    }
    &__subtitle {
      font-size: 0.95rem;
    }
  } 
}

@media (max-width: 375px) {
  .hero-section {
    &__container {
      padding-top: 7.28rem;
      padding-bottom: 7.28rem;
    }
    &__title, &__subtitle {
      max-width: 17.11111rem;
    }
    &__subtitle {
      font-size: 0.88889rem;
    }
  } 
}





// ==================
// tasks-section
// ==================
.tasks-section {
  &__cards {
    .cards__item {
      min-height: 12.05556rem;
    }
  }
}

@media (max-width: 991px) {
  .tasks-section {
    &__cards {
      .cards__item {
        min-height: 10rem;
      }
    }
  } 
}

@media (max-width: 375px) {
  .tasks-section {
    &__cards {
      .cards__item {
        min-height: 5.88889rem;
      }
    }
  } 
}





// ==================
// cooperation-section
// ==================
.cooperation-section {
  &__content {
    display: flex;
    gap: 3.22rem;
  }
  &__text {
    &:not(:only-child) {
      flex: 0 0 28.16667rem;
    }
    color: #424242;
    line-height: 160%;
    b, strong {
      color: var(--primary-color);
      font-size: 2.11111rem;
      font-weight: 700;
    }
  }
}

@media (max-width: 991px) {
  .cooperation-section {
    &__content {
      flex-direction: column;
      gap: 1.5rem;
    }
    &__text {
      &:not(:only-child) {
        flex: auto;
      }
      font-size: 0.95rem;
      b, strong {
        font-size: 1.75rem;
      }
    }
  } 
}

@media (max-width: 480px) {
  .cooperation-section {
    &__content {
      gap: 1.11rem;
    }
    &__text {
      font-size: 0.88889rem;
      b, strong {
        font-size: 1.55556rem;
      }
    }
  } 
}





// ==================
// feedback-section
// ==================
.feedback-section {
  &--image {
    background: url("../images/common/protection.svg") no-repeat 41% center /10.64106rem 10.16667rem;
    .feedback-section__title {
      max-width: 24rem;
    }
    .feedback-section__text {
      max-width: 22.22222rem;
    }
  }
  &__text {
    &:not(:first-child) {
      margin-top: 0.83rem;
    }
  }
}

@media (max-width: 991px) {
  .feedback-section {
    &--image {
      background-position: 100% top;
      .feedback-section__title, .feedback-section__text {
        max-width: 80%;
      }
    }
    &__text {
      font-size: 0.95rem;
      &:not(:first-child) {
        margin-top: 0.45rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .feedback-section {
    &--image {
      // background-position: 100% top;
      .feedback-section__title, .feedback-section__text {
        max-width: 13rem;
      }
    }
    &__text {
      font-size: 0.88889rem;
      &:not(:first-child) {
        margin-top: 0.28rem;
      }
    }
  }
}





// ==================
// service-section
// ==================





// ==================
// stages-section
// ==================
.stages-section {
  @media (min-width: 992px) {
    &__timeline {
      margin-left: auto;
    }
  }
}

@media (max-width: 991px) and (min-width: 551px) {
  .stages-section {
    &__timeline {
      margin: 0 auto;
    }
  } 
}

@media (max-width: 550px) {
  .stages-section {
    &__timeline {
      margin-left: auto;
    }
  } 
}





// ==================
// guarantees-section
// ==================
.guarantees-section {
  &__cards {
    &:not(:first-child) {
      margin-top: 1.67rem;
    }
  }
}




// ======================================================================================
// ======================================================================================
// ======================================================================================

// ==================
// servicing-section
// ==================
.servicing-section {
  &__cards {
    .cards__item {
      min-height: 13rem;
    }
  }
}

@media (max-width: 991px) {
  .servicing-section {
    &__cards {
      .cards__item {
        min-height: 9.44444rem;
      }
    }
  } 
}





// ==================
// savings-section
// ==================
.savings-section {
  &__table {
    &:not(:first-child) {
      margin-top: 1.67rem;
    }
  }
  &__cards {
    justify-content: center;
    &:not(:first-child) {
      margin-top: 1.67rem;
    }
    .cards__item {
      flex-grow: 0;
    }
  }
}

@media (max-width: 375px) {
  .savings-section {
    &__table {
      &:not(:first-child) {
        margin-top: 1.11rem;
      }
    }
  }
}





// ==================
// accounting-services-section
// ==================
.accounting-services-section {
  &__scheme {
    &:not(:first-child) {
      margin-top: 2.78rem;
    }
  }
}





// ==================
// analysis-section
// ==================
.analysis-section {
  &__title {
    max-width: 25.16667rem;
  }
  &__btn {
    margin-left: auto;
    margin-right: auto;
    &:not(:first-child) {
      margin-top: 1.72rem;
    }
  }
}

@media (max-width: 375px) {
  .analysis-section {
    &__title {
      max-width: 100%;
    }
    &__btn {
      &:not(:first-child) {
        margin-top: 1.11rem;
      }
    }
  }
}