%fill-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

%stretch-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}