.banner-slider {
  position: relative;
  // min-height: 33.33333rem;
  border-radius: 1.11111rem;
  overflow: hidden;
  transition: 1s all;
  &__slides {
    transition: inherit;
  }
  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 33.33333rem;
    padding: 2.78rem 2.78rem 7.89rem;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: inherit;
    &-column {
      @extend %flex-column;
      justify-content: flex-end;
      color: #fff;
      transition: inherit;
      @media (min-width: 992px) {
        &:nth-child(1):not(:last-child) {
          flex: 0 0 28.72222rem;
        }
        & + & {
          flex: 0 0 25.16667rem;
        }
      }
    }
    @media (min-width: 992px) {
      &-bg ~ &-column {
        &:nth-child(2):not(:last-child) {
          flex: 0 0 28.72222rem;
        }
        &:nth-child(3) {
          flex: 0 0 25.16667rem;
        }
      }
    }
    &-title {
      font-size: 2.88889rem;
      font-weight: 600;
      line-height: 110%;
    }
    &-subtitle {
      &:not(:first-child) {
        margin-top: 0.83rem;
      }
    }
    &-text-title {
      font-size: 1.33333rem;
      font-weight: 500;
      line-height: 130%;
    }
    @media (min-width: 992px) {
      &-text-subtitle {
        display: none;
      }
    }
    &-text {
      font-size: 0.88889rem;
      line-height: 150%;
      &:not(:first-child) {
        margin-top: 0.56rem;
      }
    }
    &-btns {
      display: flex;
      gap: 0.83rem;
      &:not(:first-child) {
        margin-top: 1.11rem;
      }
    }
    &-btn {
      &.btn--empty {
        border-width: 0.1111rem;
        color: #fff;
      }
    }

    &:not(&--active) {
      @media (min-width: 992px) {
        .banner-slider__slide-column + .banner-slider__slide-column {
          transform: translateY(-20%);
        }
      }
      opacity: 0;
      visibility: hidden;
    }
  }
  &__pagination {
    position: absolute;
    @media (min-width: 992px) {
      top: 83% !important;
    }
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2.78rem * 2);
    display: flex;
    justify-content: space-between;
    transition: 0.35s all;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.0556rem;
      background: rgb(#fff, 0.20);
    }
    &-item {
      position: relative;
      padding-top: 1.56rem;
      font-size: 0.88889rem;
      line-height: 150%;
      color: #9A9A9A;
      cursor: pointer;
      transition: inherit;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        transition: inherit;
      }
      &::before {
        width: 0.88889rem;
        height: 0.88889rem;
        background: var(--primary-color-2);
      }
      &::after {
        transform: translate(-0.55rem, -50%);
        width: 2rem;
        height: 2rem;
        background: rgba(130, 0, 187, 0.30);
      }
      &:not(&--active):not(:hover) {
        &::after {
          opacity: 0;
          visibility: hidden;
        }
      }
      &:hover {
        color: #bebebe;
      }
      &--active {
        color: #fff;
        pointer-events: none;
        &::before {
          background: var(--primary-color);
        }
        &::after {
          box-shadow: 0 0 1rem 0.3rem rgba(130, 0, 187, 0.3);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .banner-slider {
    &__slide {
      flex-direction: column;
      gap: 6.39rem;
      padding: 5.56rem 1.67rem;
      min-height: auto;
      &-text-title {
        &:not(:first-child) {
          margin-top: 0.28rem;
        }
      }
      &-text-subtitle {
        font-weight: 500;
        line-height: 140%;
        color: var(--primary-color);
      }
    }
    &__pagination {
      width: calc(100% - 1.67rem * 2);
      transform: translate(-50%, calc(3.195rem - 50%));
      counter-reset: item;
      &-item {
        counter-increment: item;
        &-inner {
          &::before {
            content: counter(item,decimal-leading-zero);
          }
        }
        span {
          display: none;
        }
      }
    }
  } 
}

@media (max-width: 375px) {
  .banner-slider {
    &__slide {
      &-title {
        font-size: 1.88889rem;
      }
      &-subtitle {
        font-size: 0.8889rem;
      }
      &-text {
        font-size: 0.7778rem;
        &-title {
          font-size: 1rem;
        }
        &-subtitle {
          font-size: 0.8889rem;
        }
      }
      &-btns {
        flex-direction: column;
        gap: 0.56rem;
        &:not(:first-child) {
          margin-top: 1.67rem;
        }
      }
      &-btn {
        width: 100% !important;
      }
    }
  } 
}