.cards {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
  &__item {
    display: flex;
    gap: 0.83rem;
    padding: 1.39rem;
    font-size: 0.88889rem;
    line-height: 140%;
    color: #848484;
    background: #F4EFEB;
    border-radius: 0.55556rem;
    b, strong {
      color: #424242;
      font-size: 1rem;
      font-weight: 500;
    }
    &-header {
      display: flex;
      align-items: center;
      gap: 0.83rem;
    }
    &-icon {
      flex-shrink: 0;
      width: 3.11111rem;
      height: 3.11111rem;
      background: #FEFEFE;
      border-radius: 0.55556rem;
      @extend %column-center;
      img {
        width: 1.66667rem;
        height: 1.66667rem;
        object-fit: contain;
      }
    }
    &-title {
      color: var(--primary-color);
      font-size: 1.55556rem;
      font-weight: 600;
      line-height: 140%;
      @media (min-width: 376px) {
        &:not(:last-child) {
          margin-bottom: 0.28rem;
        }
      }
    }
    &-text {
      @extend %flex-column;
      gap: 0.28rem;
      &.text {
        ul li {
          padding-left: 0.94889rem;
          &::before {
            width: 0.3889rem;
            height: 0.3889rem;
          }
        }
      }
    }
    &-list {
      @extend %flex-column;
      gap: 0.56rem;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.56rem;
        padding-left: 0.94889rem;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0.3889rem;
          height: 0.3889rem;
          border-radius: 50%;
          background: var(--primary-color);
        }
        .tooltip {
          &__btn {
            width: 1.1111rem;
            height: 1.1111rem;
          }
        }
      }
    }
    &--header {
      flex-direction: column;
      gap: 1.39rem;
      color: #3D3D3D;
    }
    &--full {
      grid-column: 1 / -1;
    }
    &--column {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    &--tooltip {
      position: relative;
      .cards__item-inner {
        max-width: 22.66667rem;
      }
      .tooltip {
        position: absolute;
        bottom: 1.39rem;
        right: 1.39rem;
        z-index: 7;
        &--active {
          z-index: 8;
        }
      }
    }
    &--image {
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @extend %stretch-image;
      }
    }
    &--list {
      padding: 1.11rem 0.56rem 1.11rem 1.11rem;
      gap: 0.56rem;
      &::before {
        content: '';
        flex-shrink: 0;
        width: 0.55556rem;
        height: 0.55556rem;
        transform: translateY(65%);
        background: var(--primary-color);
        border-radius: 50%;
      }
    }
    &--flex {
      align-items: center;
    }
    &--important {
      background: #F4EFEB;
      border: 0.05556rem solid #EEC9FF;
    }
    &--transparent {
      padding: 0 !important;
      background: transparent !important;
      border-color: transparent;
    }
  }
  &--2, &--3, &--4 {
    display: grid;
    gap: 0.56rem;
  }
  &--2 {
    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &--3 {
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--4 {
    grid-template-columns: repeat(4, 1fr);
    .cards__item {
      border-radius: 1.11111rem;
      @media (min-width: 992px) {
        &--half {
          grid-column: span 2;
        }
      }
    }
  }
  &--flex {
    flex-direction: row;
    flex-wrap: wrap;
    .cards__item {
      flex-grow: 1;
      padding: 1rem;
      min-width: 10rem;
    }
    &-v2 {
      justify-content: space-between;
      .cards__item {
        flex-grow: 0;
        max-width: 23.05556rem;
        &-title {
          font-size: 2.11111rem;
          font-weight: 700;
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &--ladder {
    @extend %flex-column;
    gap: 1.67rem;
    .cards__item {
      &:nth-child(2n) {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 991px) {
  .cards {
    &__item {
      &--tooltip {
        .cards__item-inner {
          max-width: 100%;
        }
        .tooltip {
          bottom: auto;
          top: 1.39rem;
        }
      }
    }
    &--4 {
      grid-template-columns: repeat(2, 1fr);
      @media (min-width: 376px) {
        .cards__item:nth-child(odd):last-child {
          grid-column: span 2;
        }
      }
    }
    &--flex {
      &-v2 {
        justify-content: center;
        column-gap: 3rem;
        row-gap: 1.67rem;
        .cards__item {
          justify-content: center;
          max-width: 30rem;
          text-align: center;
          &-title {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .cards {
    &__item {
      font-size: 0.77778rem;
      b, strong {
        font-size: 0.88889rem;
      }
      &-title {
        font-size: 1.33333rem;
      }
      &--image {
        order: 9999;
        height: 9.44444rem;
        &:not(.cards__item--mobile) {
          display: none;
        }
      }
      &--list {
        &::before {
          transform: translateY(45%);
        }
      }
      &--column {
        &.cards__item--flex-mobile {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 1.11rem;
        }
      }
    }
    &--4 {
      grid-template-columns: 1fr;
      gap: 0.83rem;
    }
    &--flex {
      .cards__item {
        padding: 0.83rem;
      }
      &-v2 {
        .cards__item {
          max-width: 15.44444rem;
          &-title {
            font-size: 1.55556rem;
          }
        }
      }
    }
    &--ladder {
      .cards__item {
        max-width: 15.7778rem;
      }
    }
  }
}