.media-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.56rem;
  &__item {
    position: relative;
    padding-bottom: 5.55556rem;
    background: #FCFCFC;
    border-radius: 1.11111rem;
    overflow: hidden;
    transition: 0.3s all;
    img {
      position: absolute;
      top: 0;
      left: 0;
      @extend %fill-image;
    }
    &:hover {
      transform: scale(0.97);
    }
  }
  &__btn {
    grid-column: span 6;
    margin-left: auto;
    margin-right: auto;
    &:not(:first-child) {
      margin-top: 1.67rem;
    }
    @media (min-width: 992px) {
      &:not(:nth-child(n + 20)) {
        display: none;
      }
    }
  }
  &:not(.--open) {
    .media-grid__item {
      &:nth-child(n + 19) {
        display: none;
      }
    }
  }
  &--title {
    grid-template-columns: repeat(3, 1fr);
    .media-grid__item {
      @extend %column-center;
      gap: 1.26rem;
      padding: 1.67rem;
      background: #F6F6F6;
      &-image {
        position: relative;
        width: 100%;
        padding-bottom: 5.34506rem;
      }
      &-title {
        line-height: 140%;
        color: #4C4C4C;
        text-align: center;
      }
    }
  }
}

@media (max-width: 991px) {
  .media-grid {
    grid-template-columns: repeat(3, 1fr);
    &__item {
      padding-bottom: 50%;
    }
    &__btn {
      grid-column: span 3;
      @media (min-width: 376px) {
        &:not(:nth-child(n + 14)) {
          display: none;
        }
      }
    }
    &:not(.--open) {
      .media-grid__item {
        &:nth-child(n + 13) {
          display: none;
        }
      }
    }
  } 
}

@media (max-width: 991px) {
  .media-grid {
    &--title {
      grid-template-columns: repeat(2, 1fr);
      .media-grid__item {
        gap: 1rem;
        padding: 1rem;
        &-image {
          padding-bottom: 30%;
        }
        &-title {
          font-size: 0.95rem;
        }
        @media (min-width: 481px) {
          &:last-child:nth-child(odd) {
            transform: translateX(calc(50% + 0.23rem));
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .media-grid {
    &--title {
      grid-template-columns: 1fr !important;
      .media-grid__item {
        gap: 0.83rem;
        padding: 1.39rem 1.17rem;
        &-image {
          padding-bottom: 30%;
        }
        &-title {
          font-size: 0.88889rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.83rem;
    &__item {
      padding-bottom: 5.55556rem;
    }
    &__btn {
      grid-column: span 2;
      &:not(:first-child) {
        margin-top: 1.11rem;
      }
      &:not(:nth-child(n + 12)) {
        display: none;
      }
    }
    &:not(.--open) {
      .media-grid__item {
        &:nth-child(n + 11) {
          display: none;
        }
      }
    }
  } 
}