.progress-list {
  width: 100%;
  max-width: 28.77778rem;
  display: flex;
  flex-direction: column;
  gap: 1.11rem;
  &__item {
    display: flex;
    align-items: center;
    gap: 0.56rem;
    &-title {
      flex-shrink: 0;
      max-width: 10rem;
      font-size: 0.88889rem;
      font-weight: 300;
      line-height: 150%;
      color: var(--primary-color);
    }
    &-scale {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 1.27778rem;
      font-size: 0.77778rem;
      font-weight: 500;
      line-height: 150%;
      color: #fff;
      text-align: center;
      background: var(--primary-color);
      border-radius: 0.63889rem;
    }
  }
}

@media (max-width: 991px) {
  .progress-list {
    max-width: 100%;
  } 
}

@media (max-width: 375px) {
  .progress-list {
    &__item {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.28rem;
      &-title {
        max-width: 100%;
      }
    }
  } 
}