:root {
  --section-title: #232323;
  --section-color: #F6F6F6;
}

.section {
  &:not(&--color), &:not(:last-child) {
    margin-bottom: 5.56rem;
  }
  &:not(&--color):only-child {
    margin-top: 5.56rem;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    @media (min-width: 992px) {
      .section__subtitle {
        margin-top: 0.83rem;
      }
    }
    // &:not(:last-child) {
    //   margin-bottom: 1.11rem;
    // }
  }
  &__header + &__text {
    margin-top: 0.83rem;
  }
  &__header + *:not(&__text) {
    margin-top: 1.11rem;
  }
  &__title {
    color: var(--section-title);
    font-size: 1.77778rem;
    font-weight: 500;
    line-height: 140%;
  }
  &__subtitle {
    color: var(--primary-color);
    line-height: 140%;
  }
  &__content {
    padding: 1.39rem 1.94rem;
    background: #F6F6F6;
    border-radius: 1.11111rem;
    overflow: hidden;
    .cards {
      &__item {
        background: #FCFCFC;
      }
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
  }
  &__column {
    &--image {
      position: relative;
      width: 100%;
      padding-bottom: 20.72222rem;
      border-radius: 1.11111rem;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @extend %stretch-image;
      }
    }
    @media (min-width: 992px) {
      &:not(:only-child) {
        flex: 0 0 31.11111rem;
      }
    }
  }
  &__banner {
    position: relative;
    height: 19.72222rem;
    // padding-bottom: 30.602%;
    background: #F6F6F6;
    border-radius: 1.11111rem;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      @extend %stretch-image;
    }
    &:not(:first-child) {
      margin-top: 1.11rem;
    }
  }
  &--color {
    background-color: var(--section-color) !important;
    .section__container {
      padding-top: 5.56rem;
      padding-bottom: 5.56rem;
    }
    .cards {
      &__item {
        color: var(--base-font-color);
        background: #FCFCFC;
        &--important {
          background: #F4EFEB;
        }
      }
    }
  }
  &--center {
    .section__header,
    .section__title,
    .section__text {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .section__header {
      flex-direction: column;
      // max-width: 35.61111rem;
    }
    .section__text {
      // max-width: 41rem;
    }
  }
}

@media (max-width: 991px) {
  .section {
    &:not(&--color), &:not(:last-child) {
      margin-bottom: 4rem;
    }
    &:not(&--color):only-child {
      margin-top: 4rem;
    }
    &--color {
      .section__container {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.28rem;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__content {
      padding: 1.39rem;
    }
    &__columns {
      flex-direction: column;
      gap: 1.11rem;
      &--reverse-mobile {
        flex-direction: column-reverse;
      }
    }
    &__column {
      &--image {
        padding-bottom: 60%;
      }
    }
    &__banner {
      height: 25rem;
      &:not(:first-child) {
        margin-top: 1.11rem;
      }
    }
  } 
}

@media (max-width: 375px) {
  .section {
    &:not(&--color), &:not(:last-child) {
      margin-bottom: 3.33rem;
    }
    &:not(&--color):only-child {
      margin-top: 3.33rem;
    }
    &--color {
      .section__container {
        padding-top: 3.33rem;
        padding-bottom: 3.33rem;
      }
    }
    &__title {
      font-size: 1.33333rem;
    }
    &__column {
      &--image {
        padding-bottom: 66.67%;
      }
    }
  } 
}