.timeline {
  width: 29.77778rem;
  @extend %flex-column;
  gap: 1.67rem;
  counter-reset: list;
  &__item {
    position: relative;
    padding: 1.22rem 2.22rem 1.22rem 2.44rem;
    font-size: 0.88889rem;
    line-height: 150%;
    background: #F4EFEB;
    border-radius: 0.55556rem;
    max-width: 18.38889rem;
    &:nth-child(2n) {
      align-self: flex-end;
    }
    @media (min-width: 551px) {
      &:nth-child(6n-3) {
        margin-left: 3.17rem;
      }
      &:nth-child(6n-1) {
        margin-left: 1.22rem;
      }
      &:nth-child(4n) {
        margin-right: 1.11rem;
      }
    }
    &::before {
      content: counter(list, decimal-leading-zero);
      counter-increment: list;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
      font-size: 1.11111rem;
      font-weight: 500;
      line-height: normal;
      color: #fff;
      @extend %column-center;
      width: 2.66667rem;
      height: 2.66667rem;
      background: var(--primary-color);
      border-radius: 50%;
    }
    // Arrows
    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(6n-5)::after {
      top: 57%;
      left: calc(100% + 0.72rem);
      width: 16.41667rem;
      height: 2.57667rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='49' viewBox='0 0 299 49' fill='none'%3E%3Cpath d='M296.4 48.123C296.81 48.1783 297.188 47.8904 297.243 47.4799L298.146 40.7905C298.201 40.38 297.913 40.0024 297.503 39.947C297.092 39.8916 296.714 40.1795 296.659 40.59L295.857 46.5362L289.911 45.7341C289.5 45.6788 289.123 45.9666 289.067 46.3771C289.012 46.7876 289.3 47.1653 289.71 47.2207L296.4 48.123ZM1.05109 4.12795C42.523 1.29654 107.055 0.0978911 165.854 5.70131C195.255 8.50317 223.195 13.0033 246.092 19.839C269.021 26.6842 286.754 35.8324 295.904 47.8344L297.096 46.925C287.646 34.527 269.517 25.2668 246.521 18.4017C223.493 11.5269 195.445 7.01455 165.996 4.20808C107.095 -1.40517 42.477 -0.203814 0.948914 2.63144L1.05109 4.12795Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
    }
    &:nth-child(6n-4)::after,
    &:nth-child(6n)::after {
      top: 25%;
      right: calc(100% + 2.31rem);
      width: 9.10161rem;
      height: 5.39039rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='169' height='100' viewBox='0 0 169 100' fill='none'%3E%3Cpath d='M7.13615 99.1559C7.49837 99.3568 7.95489 99.2261 8.15581 98.8638L11.43 92.9611C11.6309 92.5989 11.5001 92.1424 11.1379 91.9414C10.7757 91.7405 10.3192 91.8713 10.1183 92.2335L7.20789 97.4804L1.96101 94.57C1.59879 94.3691 1.14227 94.4998 0.941355 94.8621C0.740436 95.2243 0.871197 95.6808 1.23342 95.8817L7.13615 99.1559ZM168.51 0.7501C136.878 0.332787 90.814 4.68544 55.4784 19.1434C37.8104 26.3725 22.7476 36.1588 13.5417 49.2131C4.31069 62.3031 1.02138 78.6056 6.77894 98.7066L8.22096 98.2935C2.57852 78.5945 5.81838 62.7679 14.7676 50.0776C23.7419 37.3517 38.5104 27.7068 56.0465 20.5317C91.1192 6.1813 136.956 1.83395 168.49 2.24997L168.51 0.7501Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
    }
    &:nth-child(6n-3)::after {
      top: 40%;
      left: calc(100% + 1.5rem);
      width: 6.71561rem;
      height: 7.36111rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='124' height='135' viewBox='0 0 124 135' fill='none'%3E%3Cpath d='M115.847 133.868C116.05 134.229 116.507 134.357 116.868 134.153L122.749 130.839C123.109 130.636 123.237 130.178 123.034 129.817C122.83 129.457 122.373 129.329 122.012 129.532L116.785 132.478L113.839 127.251C113.636 126.891 113.178 126.763 112.817 126.966C112.457 127.17 112.329 127.627 112.532 127.988L115.847 133.868ZM0.982678 1.7498C26.143 2.33106 62.0404 9.63536 88.0309 29.5825C101.012 39.5455 111.512 52.6536 116.991 69.6535C122.47 86.6548 122.946 107.61 115.778 133.298L117.222 133.702C124.454 107.79 124.005 86.5285 118.419 69.1934C112.831 51.8569 102.125 38.5087 88.9441 28.3925C62.6096 8.18131 26.357 0.835606 1.01732 0.2502L0.982678 1.7498Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
    }
    &:nth-child(6n-2)::after {
      top: 20%;
      right: calc(100% + 1.3rem);
      width: 8.94444rem;
      height: 5.65144rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='167' height='104' viewBox='0 0 167 104' fill='none'%3E%3Cpath d='M48.5 26.2258L49.2417 26.3366L48.5 26.2258ZM84 26.2258L83.8104 26.9515L84 26.2258ZM4.40678 103.185C4.66023 103.512 5.13128 103.572 5.4589 103.319L10.7979 99.1889C11.1255 98.9355 11.1856 98.4644 10.9322 98.1368C10.6787 97.8092 10.2077 97.749 9.88005 98.0025L5.13431 101.674L1.46308 96.928C1.20963 96.6003 0.738582 96.5402 0.410957 96.7937C0.0833321 97.0471 0.0231981 97.5182 0.276644 97.8458L4.40678 103.185ZM166.171 7.99558C147.634 3.65347 119.485 -0.686059 95.2905 0.426603C83.1989 0.982683 72.0286 2.90288 63.5299 6.91316C55.0086 10.9341 49.1059 17.0961 47.7582 26.115L49.2417 26.3366C50.4941 17.9555 55.9539 12.1467 64.17 8.26972C72.4088 4.38208 83.351 2.47727 95.3594 1.92502C119.365 0.821015 147.366 5.13149 165.829 9.45605L166.171 7.99558ZM47.7582 26.115C46.9224 31.7085 47.9379 36.2503 50.2789 39.8423C52.6119 43.4221 56.2155 45.9888 60.4405 47.7316C68.8722 51.2096 79.9498 51.48 89.0703 49.839C93.6364 49.0174 97.7609 47.7084 100.852 46.0466C103.898 44.4091 106.137 42.3203 106.545 39.8478C106.966 37.2924 105.384 34.7643 101.861 32.4107C98.314 30.0414 92.5948 27.6956 84.1895 25.5002L83.8104 26.9515C92.1551 29.1311 97.686 31.4258 101.028 33.6581C104.393 35.9061 105.339 37.9405 105.065 39.6038C104.777 41.3501 103.098 43.1363 100.142 44.7254C97.2313 46.2901 93.2698 47.5593 88.8047 48.3627C79.8626 49.9716 69.0964 49.6795 61.0125 46.345C56.9798 44.6815 53.6576 42.2795 51.5355 39.0233C49.4214 35.7794 48.4525 31.6182 49.2417 26.3366L47.7582 26.115ZM84.1895 25.5002C70.6433 21.962 59.0851 23.0382 49.3138 27.1758C39.5528 31.309 31.6289 38.4737 25.2971 47.0297C12.6454 64.1255 6.26581 86.8876 4.25604 102.631L5.74396 102.821C7.73418 87.2307 14.0546 64.7428 26.5028 47.922C32.721 39.5196 40.4471 32.5593 49.8987 28.5571C59.3398 24.5593 70.5567 23.4897 83.8104 26.9515L84.1895 25.5002Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
    }
    &:nth-child(6n-1)::after {
      top: 55%;
      left: calc(100% + 1.17rem);
      width: 5.75rem;
      height: 3.06128rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='57' viewBox='0 0 110 57' fill='none'%3E%3Cpath d='M104.068 56.7163C104.407 56.9549 104.874 56.8738 105.113 56.5352L109.001 51.0176C109.24 50.679 109.159 50.2111 108.82 49.9725C108.482 49.7339 108.014 49.815 107.775 50.1536L104.319 55.0581L99.4144 51.6019C99.0758 51.3633 98.6079 51.4443 98.3693 51.7829C98.1307 52.1215 98.2118 52.5894 98.5504 52.828L104.068 56.7163ZM1.07263 2.34968C16.4118 0.857214 39.9678 1.78149 60.7549 9.38259C81.5268 16.9781 99.4229 31.1884 103.761 56.2312L105.239 55.9752C100.777 30.218 82.3399 15.6783 61.2701 7.97381C40.2155 0.27491 16.4215 -0.650813 0.92737 0.856725L1.07263 2.34968Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
    }
  }
}

@media (max-width: 550px) {
  .timeline {
    width: 95.6%;
    gap: 2.22rem;
    &__item {
      &:nth-child(6n-5)::after {
        left: 90%;
        width: 15.41667rem;
        height: 2rem;
      }
      &:nth-child(6n-4)::after,
      &:nth-child(6n)::after {
        width: 7.10161rem;
        height: 4.39039rem;
      }
      &:nth-child(6n-3)::after {
        top: 30%;
        left: calc(100% + 0.5rem);
        width: 5.71561rem;
        height: 6.7rem;
      }
      &:nth-child(6n-2)::after {
        top: 35%;
        right: 100%;
        transform: rotate(-20deg);
      }
      &:nth-child(6n-1)::after {
        left: calc(100% + 0.5rem);
      }
    }
  } 
}

@media (max-width: 375px) {
  .timeline {
    width: 93%;
    &__item {
      padding: 1rem 1rem 1rem 1.94rem;
      &::before {
        width: 2.22222rem;
        height: 2.22222rem;
        font-size: 0.92594rem;
      }
      // Arrows
      &:nth-child(6n-5)::after {
        left: calc(100% + 0.94rem);
        width: 5.11111rem;
        height: 3.13889rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='97' height='59' viewBox='0 0 97 59' fill='none'%3E%3Cpath d='M92.6997 58.1872C93.0792 58.3531 93.5214 58.1799 93.6872 57.8003L96.3904 51.6152C96.5562 51.2357 96.383 50.7935 96.0035 50.6277C95.6239 50.4618 95.1818 50.635 95.0159 51.0145L92.6131 56.5124L87.1152 54.1096C86.7357 53.9438 86.2935 54.117 86.1277 54.4965C85.9618 54.8761 86.135 55.3182 86.5145 55.4841L92.6997 58.1872ZM0.918297 1.74554C13.0109 3.07075 32.1237 7.47495 50.0922 16.3721C68.0682 25.273 84.7978 38.6188 92.3017 57.7736L93.6983 57.2264C86.0023 37.5812 68.8985 24.0103 50.7578 15.0279C32.6096 6.04172 13.3225 1.59592 1.0817 0.254463L0.918297 1.74554Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
      }
      &:nth-child(6n-4),
      &:nth-child(6n) {
        max-width: 15.38889rem;
        &::after {
          top: 70%;
          right: calc(100% + 1.5rem);
          width: 1.1345rem;
          height: 3rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='56' viewBox='0 0 22 56' fill='none'%3E%3Cpath d='M6.69707 55.6862C7.07604 55.8534 7.5188 55.6817 7.68599 55.3027L10.4105 49.127C10.5777 48.7481 10.4061 48.3053 10.0271 48.1381C9.64812 47.9709 9.20536 48.1426 9.03817 48.5216L6.61634 54.0111L1.12683 51.5893C0.747856 51.4221 0.305103 51.5937 0.13791 51.9727C-0.0292821 52.3517 0.142399 52.7944 0.521371 52.9616L6.69707 55.6862ZM21.2115 0.307692C9.02722 5.38449 2.82162 12.9383 0.951557 22.4173C-0.903472 31.8201 1.53703 42.9864 6.30053 55.2711L7.69907 54.7289C2.96251 42.5136 0.653113 31.6799 2.42319 22.7077C4.17824 13.8117 9.97275 6.61551 21.7884 1.69231L21.2115 0.307692Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
        }
      }
      &:nth-child(6n-3)::after {
        left: auto;
        right: calc(100% - 0.5rem);
        top: 95%;
        width: 1.09261rem;
        height: 3.41667rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='64' viewBox='0 0 22 64' fill='none'%3E%3Cpath d='M21.0357 63.2491C21.4495 63.2295 21.7689 62.8781 21.7492 62.4643L21.4281 55.722C21.4084 55.3082 21.0571 54.9888 20.6433 55.0085C20.2296 55.0282 19.9101 55.3796 19.9298 55.7933L20.2152 61.7865L14.222 62.0719C13.8083 62.0916 13.4888 62.443 13.5085 62.8567C13.5282 63.2705 13.8796 63.5899 14.2934 63.5702L21.0357 63.2491ZM2.27423 0.811088C-0.930024 13.1222 -1.79164 42.7939 20.4955 63.055L21.5046 61.945C-0.208254 42.2061 0.596795 13.2111 3.72587 1.18891L2.27423 0.811088Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
      }
      &:nth-child(6n-2) {
        max-width: 15.66667rem;
        &::after {
          top: calc(100% + 0.75rem);
          right: 1.23rem;
          width: 2.85811rem;
          height: 4.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='87' viewBox='0 0 54 87' fill='none'%3E%3Cpath d='M43.5 48.5L43.1059 47.8619L43.5 48.5ZM48 59.5L48.6303 59.9066L48 59.5ZM0.884905 81.0709C0.647899 81.4106 0.731156 81.8781 1.07086 82.1151L6.60672 85.9773C6.94643 86.2143 7.41395 86.1311 7.65095 85.7914C7.88796 85.4517 7.8047 84.9841 7.46499 84.7471L2.54423 81.314L5.97732 76.3933C6.21433 76.0536 6.13107 75.5861 5.79136 75.3491C5.45166 75.112 4.98414 75.1953 4.74713 75.535L0.884905 81.0709ZM47.2885 0.737171C49.3546 6.9355 51.609 16.7549 51.6626 26.0418C51.7165 35.3854 49.546 43.8842 43.1059 47.8619L43.8942 49.1381C51.0541 44.7158 53.2169 35.4646 53.1625 26.0332C53.1078 16.5451 50.8121 6.5645 48.7116 0.262829L47.2885 0.737171ZM43.1059 47.8619C38.984 50.4078 35.9275 50.4856 33.8411 49.4667C31.7263 48.4339 30.364 46.1588 29.8955 43.4951C29.4277 40.8355 29.8829 37.9385 31.2306 35.8251C32.5519 33.7533 34.7417 32.4031 37.9197 32.7457L38.0804 31.2543C34.3008 30.8469 31.5743 32.4967 29.9659 35.0186C28.3841 37.499 27.8966 40.7895 28.4182 43.7549C28.939 46.7162 30.4984 49.5036 33.1828 50.8146C35.8957 52.1394 39.5161 51.8422 43.8942 49.1381L43.1059 47.8619ZM37.9197 32.7457C44.7234 33.4791 49.4121 36.3851 51.2776 40.7924C53.1497 45.2151 52.3061 51.4421 47.3698 59.0934L48.6303 59.9066C53.6939 52.0579 54.8081 45.2849 52.6589 40.2076C50.5033 35.1149 45.1919 32.0209 38.0804 31.2543L37.9197 32.7457ZM47.3698 59.0934C43.5059 65.0825 35.12 69.9693 26.0315 73.6421C16.9838 77.2985 7.41026 79.6857 1.36851 80.7616L1.63149 82.2384C7.75642 81.1476 17.4329 78.7349 26.5935 75.0329C35.7134 71.3473 44.4942 66.3175 48.6303 59.9066L47.3698 59.0934Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
        }
      }
      &:nth-child(6n-1) {
        max-width: 12.33333rem;
        &::after {
          top: 95%;
          left: auto;
          right: calc(100% - 0.5rem);
          width: 0.79178rem;
          height: 3.19444rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='59' viewBox='0 0 17 59' fill='none'%3E%3Cpath d='M14.8756 58.7396C15.2841 58.8083 15.671 58.533 15.7397 58.1245L16.8601 51.4681C16.9288 51.0597 16.6534 50.6728 16.245 50.604C15.8365 50.5353 15.4496 50.8107 15.3809 51.2191L14.385 57.1359L8.46823 56.14C8.05976 56.0713 7.6729 56.3467 7.60414 56.7551C7.53539 57.1636 7.81079 57.5505 8.21925 57.6192L14.8756 58.7396ZM1.78245 0.282139C-1.10896 9.80679 -2.56343 34.6207 14.3891 58.4349L15.6111 57.5651C-1.03635 34.1793 0.442517 9.85987 3.21777 0.717861L1.78245 0.282139Z' fill='%23F8E8FF'/%3E%3C/svg%3E");
        }
      }
      &:nth-child(6n) {
        max-width: 16rem;
      }
    }
  }
}